@charset "UTF-8";
body,
h3,
h4,
h5,
p {
  font-family: sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-wrap: nowrap;
}
main,
main * {
  transition: all 1s, color 0s;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

#btn-hb {
  display: none;
}

@media (max-width: 1024px) {
  main {
    flex-wrap: wrap;
  }
}
#left-bar {
  width: 25%;
  padding: 16px;
  background-color: #17365d;
  color: white;
}
#left-bar * {
  transition: all 1s, color 0s;
}
#left-bar section {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#left-bar section:nth-child(1),
#left-bar section h2 {
  text-align: center;
  margin-bottom: 2rem;
}
#left-bar section:nth-child(1) img,
#left-bar section h2 img {
  border: solid 3px white;
  border-radius: 50%;
}
#left-bar section:nth-child(2) li a,
#left-bar section:nth-child(2) li p {
  margin-left: 1.25rem;
}
#left-bar section:not(:nth-child(1), :nth-child(2)) {
  border: none;
  border-top: solid white 2px;
  padding-top: 10px;
}
#left-bar section:not(:nth-child(1), :nth-child(2)) ul {
  padding-left: 1.25rem;
  list-style: square;
}
#left-bar section:not(:nth-child(1), :nth-child(2)) svg {
  width: 10%;
  height: auto;
  margin: 5px;
}
#left-bar section ul p,
#left-bar section ul a {
  display: block;
  text-decoration: none;
  color: gainsboro;
  padding-bottom: 0.5rem;
}
@media (max-width: 1024px) {
  #left-bar {
    width: 100%;
  }
  main:has(#btn-hb[data-enable=false]) #left-bar section:nth-child(1) {
    display: flex;
  }
  main:has(#btn-hb[data-enable=false]) #left-bar section:nth-child(1) img {
    height: 2rem;
  }
  main:has(#btn-hb[data-enable=false]) #left-bar section:nth-child(1) h1 {
    align-content: center;
    margin: 0.5rem;
    height: auto;
  }
  main:has(#btn-hb[data-enable=false]) #left-bar section:not(:nth-child(1)) {
    position: relative;
    display: none;
  }
}

#right-bar {
  width: 75%;
  padding: 20px;
}
#right-bar #presentation span {
  font-style: italic;
  color: #21a0cd;
}
#right-bar #presentation p, #right-bar #presentation span {
  font-size: 0.85rem;
}
#right-bar section {
  padding-bottom: 1rem;
}
#right-bar section:not(:first-child) {
  border-top: solid #17365d 2px;
  padding-top: 10px;
}
#right-bar section h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
#right-bar section h4 {
  color: #17365d;
  margin-bottom: 5px;
  margin-top: 5px;
}
#right-bar section h5 {
  color: #21a0cd;
}
#right-bar section > p {
  padding: 5px;
  font-size: 1.1rem;
  color: #17365d;
}
#right-bar section > div {
  position: relative;
  top: 7px;
  color: #21a0cd;
}
#right-bar section > div h3 {
  display: inline-block;
  font-size: 2rem;
  width: 75%;
}
#right-bar section > div svg {
  border: solid 3px #21a0cd;
  border-radius: 50%;
  padding: 5px;
  height: 16px;
  width: 16px;
}
@media (max-width: 1024px) {
  #right-bar {
    width: 100%;
  }
  #right-bar section h2 {
    margin: 0;
  }
}

#competences h3 {
  display: inline-block;
  width: 75%;
  color: #21a0cd;
  font-size: 2rem;
}
#competences h2 {
  margin-top: 0;
  position: relative;
  top: 5px;
}
@media (min-width: 1024px) {
  #competences h2 {
    top: 13px;
  }
}
#competences > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}
#competences > div > div {
  width: 100%;
}

@media (max-width: 1024px) {
  #btn-hb {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 40px;
    width: 40px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 3px black;
    border-radius: 10%;
  }
  #btn-hb span {
    transition: all 0.5s, color 0s;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    height: 4px;
    width: 100%;
    position: relative;
  }
  #btn-hb span:nth-child(1) {
    top: -7px;
  }
  #btn-hb span:nth-child(2) {
    top: -11px;
  }
  #btn-hb span:nth-child(3) {
    top: -15px;
  }
  #btn-hb[data-enable=true] span:nth-child(1) {
    top: 5px;
    transform: rotate(225deg);
  }
  #btn-hb[data-enable=true] span:nth-child(2) {
    opacity: 0;
  }
  #btn-hb[data-enable=true] span:nth-child(3) {
    top: -27px;
    transform: rotate(-225deg);
  }
  #btn-hb[data-enable=true] span:nth-child(1), #btn-hb[data-enable=true] span:nth-child(3) {
    width: 125%;
    left: -4px;
  }
}
.listingRoute {
  margin-top: 0;
  padding-top: 1rem;
  margin-left: 17px;
  border-left: solid 6px rgba(255, 255, 255, 0);
  box-shadow: -8px 0px 0px -5px #21a0cd;
}
.listingRoute > li {
  color: #17365d;
  padding-left: 10px;
}
.listingRoute > li::marker {
  content: "■";
  font-size: 1.5em;
  color: #21a0cd;
  background-color: #fff;
}
.listingRoute > li > div {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}
.listingRoute > li > div > div:first-child {
  color: gray;
  margin: 0;
  width: 30%;
}
.listingRoute > li > div > div:last-child {
  width: 70%;
}
.listingRoute > li > div > div:last-child ul {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1.75rem;
  list-style: "► ";
}
.listingRoute > li > div > div:last-child ul li::marker {
  color: gray;
}

/*# sourceMappingURL=index.css.map */
