#left-bar {
	width: 25%;
	padding: 16px;
	background-color: $primary-color;
	color: white;

	* {
		transition: all 1s, color 0s;
	}

	section {
		&:nth-child(1),
		h2 {
			text-align: center;

			img {
				border: solid 3px white;
				border-radius: 50%;
			}
		}

		&:nth-child(2) li {
			a,
			p {
				margin-left: 1.25rem;
			}
		}

		&:not(:nth-child(1), :nth-child(2)) {
			border: none;
			border-top: solid white 2px;
			padding-top: 10px;

			ul {
				padding-left: 1.25rem;
				list-style: square;
			}
		}

		ul {
			margin-top: 5px;

			p,
			a {
				display: block;
				text-decoration: none;
				color: gainsboro;
				padding-bottom: 0.5rem;
			}
		}
	}

	@media (max-width: 1024px) {
		& {
			width: 100%;
		}

		main:has(#btn-hb[data-enable="false"]) & {
			section:nth-child(1) {
				display: flex;

				img {
					height: 2rem;
				}
				h1 {
					align-content: center;
					margin: 0.5rem;
					height: auto;
				}
			}

			section:not(:nth-child(1)) {
				position: relative;
				display: none;
			}
		}
	}
}
