main {
	display: flex;
	flex-wrap: nowrap;

	&,
	* {
		transition: all 1s, color 0s;
	}
}

li{
	margin-top: 5px;
	margin-bottom: 5px;
}

#btn-hb {
	display: none;
}

@media (max-width: 1024px) {
	main {
		flex-wrap: wrap;
	}
}
