#right-bar {
	width: calc(75%);
	padding: 20px;

	#presentation {
		span {
			font-style: italic;
			color: $secondary-color;
		}
		p, span{
			font-size: 0.85rem;
		}
	}

	section {
		padding-bottom: 1rem;

		&:not(:first-child) {
			border-top: solid $primary-color 2px;
			padding-top: 10px;
		}

		h2 {
			margin-bottom: 0.5rem;
			font-size: 2rem;
		}

		h4 {
			color: $primary-color;
			margin-bottom: 5px;
			margin-top: 5px;
		}

		h5 {
			color: $secondary-color;
		}

		> p {
			padding: 5px;
			font-size: 1.1rem;
			color: $primary-color;
		}

		> div {
			position: relative;
			top: 7px;

			color: $secondary-color;

			h3 {
				display: inline-block;
				font-size: 2rem;
				width: 75%;
			}

			svg {
				border: solid 3px $secondary-color;
				border-radius: 50%;
				padding: 5px;
				height: 16px;
				width: 16px;
			}
		}
	}

	@media (max-width: 1024px) {
		& {
			width: 100%;
		}
		section h2 {
			margin: 0;
		}
	}
}
